.container{
  background-color: var(--blue2);
  border-radius:20px;
  box-shadow: 10px 10 px 10 px var(--shadow--dark);
  align-items:center;
  width: auto;
  float:left;
  border: 2px solid dimgray;
  flex-direction: column;
  display:inline-block;


}


.city{
  color:var(--greY-1);
  text-align: center;

}
.p{
  font-family: Verdana;
  font-size: 12px;
}


:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}


.button{
  margin-right: 5px;
}


.medium-icon {
  width: 60%;
  height: auto;
  justify-content: center;
}

.favorites-container {
  top: 0;
  right: 0;
  width: 300px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  float:right;
  display: inline-block;
  vertical-align: top;
}

