<!--<h1>{{ this.forecastData.main.temp }}</h1>-->
<!--<div *ngIf="forecastData">-->
  <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile *ngFor="let forecast of forecastData.list">
      <div class="forecast-item">
        <div class="date">{{ forecast.dt_txt | date:'d-MMM-y, h:mm a'}}</div>
        <div class="details">
            <img class="small-icon" src="../assets/thermometer.png">
<!--            <span class="label">Temperatura:</span>-->
            <span class="value">{{ forecast.main.temp }}</span>
            <img class="small-icon" src="../assets/prec.png">
<!--            <span class="label">Probabilitatea de precipitații:</span>-->
            <span class="value">{{ (forecast.pop * 100).toFixed(0)}}%</span>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
<!--</div>-->


<!--<p> {{ this.forecastData[0].main}}</p>-->
